<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *appUnless="!onlyOdd">
          <li 
          class="list-group-item"
          [ngClass]="{odd: odd % 2 !== 0}" 
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let odd of oddNumbers">
            {{odd}}
          </li>
        </div>

        <div *appUnless="onlyOdd">
          <li class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">
            {{even}}
          </li>

          <div [ngSwitch]="value">
            <p *ngSwitchCase="5">Value is 5</p>
            <p *ngSwitchCase="10">Value is 10</p>
            <p *ngSwitchCase="15">Value is 15</p>
            <p *ngSwitchDefault="15">Value is 0</p>

          </div>
        </div>

<!-- translation of *ngIf -->

<!--      <ng-template [ngIf]="!onlyOdd">
            <div>
              <li class="list-group-item"
              [ngClass]="{odd: even % 2 !== 0}"
              [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
              {{even}}
              </li>
            </div>
          </ng-template> -->
    

      </ul>
      <p appHighlightElement>Test Highlight directive</p>
      <p [appHighlightElement2]="'orange'" [defaultColor]="'yellow'" >Test Highlight directive2</p>

      <!-- you can also write 
      <p appHighlightElement2 defaultColor='yellow' highlightedColor='orange'>Test Highlight directive2</p>
      []="" square brackets syntax requires "" ! Then if you need to pass a string you need extra "" (better '' so angular can distinguish)

        and

      directive name + one properties in the same instruction! just assign the name of the directive as alias to the properties you like!
      -->
    </div>
  </div>
</div>
